---
title: Folo 订阅源认证
date: 2026-11-09
category: life
tags: [Folo]
excerpt: 'This message is used to verify that this feed (feedId:1369752895796167558) belongs to me (userId:1359627956127800983). Join me in enjoying the next generation information browser https://folo.is.'
published: true
featured: false
---

This message is used to verify that this feed (feedId:1369752895796167558) belongs to me (userId:1359627956127800983). Join me in enjoying the next generation information browser https://folo.is.
